body {
    background-color: rgb(124, 124, 192);
}
div {
    width: 50%;
    margin: 2%;
    height: 200px;
}

#padre{
background-color: brown;
}

.hijo {
background-color: bisque;
}

.caja {
    width: 400px;
}