body {
    background-color: rgb(190, 101, 186);
}
div {
    width: 50%;
    margin: 2%;
    height: 200px;
}

#padre{
background-color: brown;
}

#hijo {
background-color: bisque;
}

.caja {
    width: 400px;
}

.tituloNuevo {
    text-align: center;
    width: 50%;
    margin: 20px;
    padding: 30px;
}

img {
    background-color: yellow;
    padding: 30px;
    border: blue solid 5px;
    margin: 50px;
}